.isotopeWrapper {
    padding: 80px 0;
    margin-top: 30px;
    color: #fff;
    background-color: #151515;
}



.filterSelects {
    position: relative;
    z-index: 2;
    font-size: 0;
    line-height: 0;
    margin-bottom: 13px;
    text-align: center;

    .filterSelectItem {
        display: inline-block;
        margin: 0 10px 10px;
        font-size: 13px;
        letter-spacing: 0;
        text-transform: uppercase;
        font-weight: 600;
        line-height: 1;
        padding: 0;
        margin: 0 20px 10px 0;
        -webkit-transition: all 200ms ease-in-out;
        -o-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out;
        cursor: pointer;

        &::after {
            content: "";
            vertical-align: 3px;
            margin: 0;
            display: inline-block;
            width: 3px;
            height: 3px;
            margin-left: 17px;
            border-radius: 50%;
            background-color: rgba(21, 21, 21, 0.25);
        }

        &:last-child {
            &::after {
                content: "";
                display: none;
            }
        }

        &:hover {
            color: #1abb9c;
        }
    }
}

.filterContainer {
    list-style-type: none;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    min-height: 300px;

    .filterItem {
        width: 350px;
        min-height: 200px;
        margin-right: 10px;
        margin-top: 10px !important;

        img {
            border-radius: 5px;
        }
    }
}