.aboutUsSection {
    padding: 50px 0;
    background: #151515;
}

.aboutTitle {
    font-size: 21px;
    line-height: 33px;
    color: #fff;
    font-weight: 400;

}

.aboutContent {
    p {
        margin: 0 0 20px;
        line-height: 28px;
        color: #d3d1d1;
    }
}