.admin__sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background: #ede7f6;
  z-index: 0;
  padding-top: 60px;
  height: 100%;
  width: 220px;
  overflow: hidden;
}

.admin__sidebar__links {
  padding: 0;
  list-style: none;

  .admin__sidebar__link {
    a {
      color: #111;
      text-decoration: none;
      padding: 5px 10px;
      border-radius: 5px;
      margin: 10px;
      display: inline-block;
      width: 100%;
    }

    .active {
      background: #555;
      color: #fff !important;
    }
  }


}

.admin__sidebar__link {}