.button {
    background: transparent;
    border: 2px solid #1b9aff;
    color: #fff;
    border-radius: 20px;
    width: 53px;
    font-size: 14px;
}

.buy-btn {
    width: 77px;
    border: 2px solid #ffc107;
}