.button {
    background: transparent;
    border: 2px solid #1b9aff;
    color: #fff;
    border-radius: 20px;
    width: 53px;
    font-size: 14px;
}

.buy-btn {
    width: 77px;
    border: 2px solid #ffc107;
}

.title {
    letter-spacing: 3px;
    font-weight: 700;
    line-height: 1.1;
    transition: all 0.35s;
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.spinnerWrap {
    height: 80px;
    width: 107px;
    background: #c6c6c640;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}